.container {
  display: flex;
  flex-flow: column;
  height: 100vh;
}
.topContainer {
  background-color: var(--background-color);
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 5vh;
  padding-bottom: 3vh;
}
.bottomContainer {
  display: flex;
  flex: 1;
  background-color: var(--background-color);
  flex-flow: row;
}
.line {
  border: 1px solid var(--gray);
}
.resultCountContainer {
  background-color: var(--background-color);
  padding: 10px;
}
.sidebarContainer {
  width: 15%;
}